[submodule "forge-backend"]
	path = forge-backend
	url = https://github.com/asimwe1/forge-backend.git
[submodule "forge-landing"]
	path = forge-landing
	url = https://github.com/asimwe1/forge-landing.git
[submodule "forge-mobile"]
	path = forge-mobile
	url = https://github.com/asimwe1/forge-mobile.git
